@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Manrope", monospace, serif;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
}

.tiny-scrollbar::-webkit-scrollbar {
  width: 10px;
  background-color: #dcdcdc;
  border-radius: 9999px;
}

.tiny-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4a90e2;
  border-radius: 9999px;
}

.shimmer {
  background: linear-gradient(-45deg, #eee 40%, #fafafa 50%, #eee 60%);
  background-size: 300%;
  background-position-x: 100%;
  animation: shimmer 1s infinite linear;
}

@keyframes shimmer {
  to {
    background-position-x: 0%;
  }
}

.AI_bubble {
  animation: think 3s infinite ease-out;
}

@keyframes think {
  from {
    transform: rotate(0deg) scale(0.75);
    fill: white;
  }
  to {
    transform: rotate(360deg) scale(0.9);
    fill: black;
  }
}

@media (min-width: 300px) and (max-width: 1000px) {
  .tiny-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .tiny-scrollbar::-webkit-scrollbar-thumb {
    display: none;
  }
}
